﻿<%@ Master Language="C#" 
    AutoEventWireup="true" 
    CodeBehind="Site.master.cs" 
    Inherits="sklepmaster.Site"
     %>

<%@ 
    Import namespace="sklepmaster.baza"
 %>
<!DOCTYPE html>
<style type="text/css">
        .obraz {
            margin-top: 15px;

        }
    </style>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>

		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		

		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="css/tooplate_style.css" rel="stylesheet" type="text/css" />

		<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
		<script src="js/jquery.min.js" type="text/javascript"></script>
		<script src="js/jquery.nivo.slider.js" type="text/javascript"></script>

		<script type="text/javascript">
			$(window).load(function () {
				$('#slider').nivoSlider({
					effect: 'random',
					slices: 15,
					animSpeed: 500,
					pauseTime: 3000,
					startSlide: 0, //Set starting Slide (0 index)
					directionNav: false,
					directionNavHide: false, //Only show on hover
					controlNav: false, //1,2,3...
					controlNavThumbs: false, //Use thumbnails for Control Nav
					pauseOnHover: true, //Stop animation while hovering
					manualAdvance: false, //Force manual transitions
					captionOpacity: 0.8, //Universal caption opacity
					beforeChange: function () { },
					afterChange: function () { },
					slideshowEnd: function () { } //Triggers after all slides have been shown
				});
			});
		</script>



</head>
<body>
    <form runat="server">
		<div id="tooplate_body_wrapper">
			<div id="tooplate_wrapper">
            
				<div id="tooplate_header">

                    
        

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <asp:ImageButton class="obraz" Height="25px" Width="25px" ID="ImageButtonstartowa" runat="server" ImageUrl="~/images/startowa.jpg" PostBackUrl="~/Account/Starowa.aspx" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <% if (DaneZalogowanejOsoby.CzyZalogowany(Session["klient"]) ) { %>
								   <a runat="server" href="~/Account/EdycjaDanych.aspx">Zarządzanie konta</a> 
                            <% } %>
                        </li>
                        <li>
                            <% if (DaneZalogowanejOsoby.CzyZalogowany(Session["klient"]) ) { %>
								   <a runat="server" href="~/Account/Koszyk1.aspx">Koszyk</a> 
                            <% } %>
                        </li>
                        <li>
                            <% if (DaneZalogowanejOsoby.CzyAdmin(Session["klient"]) ) { %>
							    <a runat="server" href="~/Account/DodawanieKategorii.aspx">Edycja kategorii</a>
                            <% } %>
                        </li>
                        <li>
                            <% if (DaneZalogowanejOsoby.CzyAdmin(Session["klient"]) ) { %>
							    <a runat="server" href="~/Account/DodawanieProduktu.aspx">Dodaj nowy produkt</a>
                            <% } %>
                        </li>
                        <li>
                            <% if (DaneZalogowanejOsoby.CzyAdmin(Session["klient"]) ) { %>
							    <a runat="server" href="~/Account/EdycjaProduktu1.aspx">Edytuj produkty</a>
                            <% } %>
                        </li>
                        
                    </ul>
                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                        <% if (!DaneZalogowanejOsoby.CzyZalogowany(Session["klient"]) ) { %>
										<a runat="server" href="~/Account/Rejestracja.aspx">Rejestracja</a>
										<% } %>
                                </li>
                                <li>
                                     <% if (!DaneZalogowanejOsoby.CzyZalogowany(Session["klient"]) ) { %>
											 <a runat="server" href="~/Account/Logowanie.aspx">Logowanie</a>
									<% } %>
                                </li>
                                <li>
                                      <% if (DaneZalogowanejOsoby.CzyZalogowany(Session["klient"]) ) { %>
										    <asp:Button alt="position: absolute; right: 20px; top: 10px" style="position: absolute; right: 20px; top: 10px" class="btn btn-info btn-lxs"  ID="button1" runat="server" Text="Wyloguj" OnClick="buttonWyloguj_Click" BackColor="#666666"  /> 
                                               
										<% } %>
                                </li>
                                </li>
                                <li>
                                                <% if (DaneZalogowanejOsoby.CzyZalogowany(Session["klient"]) ) { %>
                                                    <div style="margin-top:15px;">Zalogowany: <%  Response.Write(Session["Login"]); %></div>
												<% } %>
												<asp:Label alt="position: absolute; right: 20px; top: 10px" style="position: absolute; right: 20px; top: 10px" ID="labelWiadomosc" runat="server" Text="" />
											
                                </li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                   
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </div>
        <div id="TitleContent" style="text-align: center">
           







					<!-- end of tooplate_menu -->
						
												

                                  
				</div> <!-- end of forever header -->
        
				<!-- end of middle -->
        
				<!-- end of forever fp services -->
                    <br />
                    <br />
                    <br />
                    
        
				<div id="tooplate_main">
        
					<div class="cleaner">
						<div>
							<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
							</asp:ContentPlaceHolder>
						</div>

					</div>
				</div> <!-- end of main -->
        
				<div class="cleaner"></div>
        
				<div id="tooplate_footer">
        
				 <a href="#"></a>
            
				</div>
			</div> <!-- end of forever wrapper -->
		</div> <!-- end of forever body wrapper -->
	</form>
</body>
</html>
