/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #606060;
	background: #65a8f7 url(images/templatemo_body_top.jpg) repeat-x;
}

a:link, a:visited { color: #1b9cd5; text-decoration: underline; font-weight: bold; } 
a:active, a:hover { color: #CCCC00; text-decoration: none; }

.button_01 a {
	display: block;
	width: 135px;
	height: 38px;
	padding: 15px 0 0 0;
	background: url(images/read_more.png) no-repeat;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button_01 a:hover {
	text-decoration: underline;
}

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }

.margin_r10 { margin-right: 10px; }

.float_l { float: left; }
.float_r { float:  right; }

#templatemo_wrapper_outer {
	width: 100%;
	background: url(images/templatemo_body_bottom.jpg) repeat-x bottom;	
}

#templatemo_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	background: url(images/templatemo_container_top.jpg) top no-repeat
}

#temmplatmeo_header {
	height: 140px;
}

/* site title */

#temmplatmeo_header  #site_title {
	float: left;
	width: 200px;
	padding: 65px 0 0 0;
}


#site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 26px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title a span {
	display: block;
	color: #d1e0f3;
	font-size: 13px;
	margin-left: 10px;
}
/* end of site title */

/* menu */
#temmplatmeo_header #templatemo_menu {
	float: right;
	height: 36px;
	margin-top: 90px;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 30px;
	width: 65px;
	margin-left: 10px;
	padding: 6px 5px 0 5px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	color: #fff;	
	font-weight: normal;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	background: url(images/templatemo_menu_hover.png) no-repeat;
}
/* end of menu */

/* content */
#templatemo_content_wrapper {
	clear: both;
	width: 940px;
	padding: 10px 10px;
	background: url(images/templatemo_content_middle.png) repeat-y;
}

#templatemo_content_wrapper_top {
	width: 960px;
	height: 18px;
	background: url(images/templatemo_content_top.png) no-repeat;
}

#templatemo_content_wrapper_bottom {
	width: 960px;
	height: 18px;
	background: url(images/templatemo_content_bottom.png) no-repeat;
}

/* banner */
#templatemo_banner {
	position: relative;
	width: 900px;
	height: 295px;
	margin: 0 15px;
	padding: 5px;
	overflow: hidden;
}

#templatemo_banner .frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 910px;
	height: 264px;
	z-index: 20000;
	background: url(images/templatemo_slider_frame.png) no-repeat;
}
/* end of banner */

#content {
	clear: both;
	padding: 20px 20px 0 20px;
}

#content h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	margin: 0 0 15px 0;
	font-weight: normal;
}

#content p {
	margin: 0 0 10px 0;
	text-align: justify;
}

#content strong {
	color: #0e468c;
}

.full_width {
	clear: both;
	width: 100%;
	margin: 0 0 30px 0;
}

.section_w280 {
	float: left;
	width: 260px;
	padding: 0 10px 0 10px;		
}

.w280_bg {
	padding-bottom: 50px;
	background: url(images/templatemo_box_bottom.png) no-repeat center bottom;
}

.section_w590 {
	float: left;
	width: 590px;
}

.margin_r_30 { margin-right: 30px; }

.section_w280 h2, .section_w590 h2 {
	height: 35px;
	padding: 15px 0 0 60px;
}

.section_w280 .services { background: url(images/service_icon.png) no-repeat bottom left;  }

.section_w280 .portfolio { background: url(images/portfolio_icon.png) no-repeat bottom left; }

.section_w280 .project { background: url(images/project_icon.png) no-repeat bottom left; }

.section_w590 .current_activities { background: url(images/calendar_icon.png) no-repeat bottom left; }

.section_w280 .newsletter { background: url(images/newsletter_icon.png) no-repeat bottom left; }

.divider {
	border-bottom: 1px solid #d6d6d6;
}

.service_list {
	margin: 10px 0 20px 0;
	padding: 0;
	list-style: none;
}
.service_list li {
	margin: 0;
	padding: 3px 0 3px 20px;
	background: url(images/templatemo_list.png) no-repeat left center;
}

.section_w280 img {
	margin-bottom: 10px;
}

.project_gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

.project_gallery li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 130px;
	height: 99px;
	background: url(images/templatemo_recent_project_frame.png) no-repeat;
}

.project_gallery li a {
	display: block;
	margin: 8px;
}

.project_gallery li a img {
	width: 114px;
	height: 83px;
}


.search_box {
	margin: 0 0 20px 0;
	padding: 0;
}

#searchfield {
	height: 15px;
	width: 150px;
	padding: 4px 5px 6px 5px;
	color: #fff;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: #64a8f7;
	border: 1px solid #488ddd;	
}

#searchbutton {
 	height: 27px;
	width: 76px;
	margin: 0px;
	padding: 6px 0 7px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #fff;
	background: #ff0 url(images/subscribe_icon.png) no-repeat; 
	border: none;
}
/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 1000px;
	padding: 20px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

#templatemo_footer a {
	font-weight: normal;
	color: #fff;
	text-decoration: underline;
}
/* end of footer */