﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="EdycjaProduktu.aspx.cs" Inherits="sklepmaster.Account.EdycjaProduktu" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
		.auto-style1 {
			width: 452px;
		}
		.auto-style2 {
			width: 459px;
		}
		.auto-style3 {
			width: 437px;
		}
	    .auto-style4 {
            width: 437px;
            height: 22px;
        }
        .auto-style5 {
            height: 22px;
        }
	</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:DropDownList ID="DropDownList1" runat="server" AutoPostBack="True" DataSourceID="dropdownlist" DataTextField="nazwa" DataValueField="nazwa"></asp:DropDownList>


	<asp:SqlDataSource ID="dropdownlist" runat="server" ConnectionString="server=localhost;user id=sylwek;password=sylwekl5;port=3306;database=sklep" ProviderName="MySql.Data.MySqlClient" SelectCommand="SELECT DISTINCT nazwa FROM kategoria"></asp:SqlDataSource>


	<asp:GridView ID="GridView1" runat="server" DataSourceID="wyswietl" AllowSorting="True" BackColor="White" BorderColor="#999999" BorderStyle="None" BorderWidth="1px" CellPadding="3" GridLines="Vertical" Height="142px" Width="878px">
		<AlternatingRowStyle BackColor="#DCDCDC" />
		<Columns>
			<asp:CommandField ShowSelectButton="True" ShowDeleteButton="True" ShowEditButton="True" />
		</Columns>
		<FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
		<HeaderStyle BackColor="#000084" Font-Bold="True" ForeColor="White" />
		<PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
		<RowStyle BackColor="#EEEEEE" ForeColor="Black" />
		<SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
		<SortedAscendingCellStyle BackColor="#F1F1F1" />
		<SortedAscendingHeaderStyle BackColor="#0000A9" />
		<SortedDescendingCellStyle BackColor="#CAC9C9" />
		<SortedDescendingHeaderStyle BackColor="#000065" />
	</asp:GridView>
	<asp:SqlDataSource ID="aaaaaaaaaaaaaaaaaaa" runat="server" ConnectionString="server=localhost;user id=sylwek;password=sylwekl5;port=3306;database=sklep" ProviderName="<%$ ConnectionStrings:sklepConnectionString.ProviderName %>" SelectCommand="SELECT * FROM produkt"></asp:SqlDataSource>
	<asp:SqlDataSource ID="wyswietl" runat="server" ConnectionString="server=localhost;user id=sylwek;password=sylwekl5;port=3306;database=sklep" ProviderName="<%$ ConnectionStrings:sklepConnectionString.ProviderName %>" SelectCommand="SELECT DISTINCT fotografia.zdjecie, fotografia.opis_zdjecia, produkt.nazwa_produktu, produkt.ilosc_w_magazynie, produkt.wersja, produkt.opis, produkt.cena_brutto, produkt.producent, produkt.vat, produkt.promocje, produkt.kategoria FROM fotografia INNER JOIN produkt ON fotografia.produkt = produkt.id_produktu">
	</asp:SqlDataSource>
	<br />
    <asp:GridView ID="GridView2" runat="server" AutoGenerateDeleteButton="True" AutoGenerateEditButton="True" DataSourceID="SqlDataSource1" BackColor="White" BorderColor="#999999" BorderStyle="None" BorderWidth="1px" CellPadding="3" GridLines="Vertical">
        <AlternatingRowStyle BackColor="#DCDCDC" />
        <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
        <HeaderStyle BackColor="#000084" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
        <RowStyle BackColor="#EEEEEE" ForeColor="Black" />
        <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
        <SortedAscendingCellStyle BackColor="#F1F1F1" />
        <SortedAscendingHeaderStyle BackColor="#0000A9" />
        <SortedDescendingCellStyle BackColor="#CAC9C9" />
        <SortedDescendingHeaderStyle BackColor="#000065" />
    </asp:GridView>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:sklepConnectionString3 %>" ProviderName="<%$ ConnectionStrings:sklepConnectionString3.ProviderName %>" 
        SelectCommand="SELECT * FROM produkt"
        UpdateCommand="UPDATE produkt SET nazwa_produktu=@nazwa_produktu where id_produktu=@id_produktu "
        ></asp:SqlDataSource>
    <br />
	<table class="nav-justified">
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style4"></td>
			<td class="auto-style5"></td>
		</tr>
		<tr>
			<td class="auto-style3">

			</td>
			<td>&nbsp;</td>
			
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="auto-style3">&nbsp;</td>
			<td>&nbsp;</td>

		</tr>
	</table>
</asp:Content>
